torch>=2.0.0
torchvision>=0.15.0
numpy>=1.24.0
Pillow>=9.5.0
streamlit>=1.24.0
opencv-python>=4.7.0
matplotlib>=3.7.0
scikit-learn>=1.2.0
pandas>=2.0.0
faiss-cpu>=1.7.0
git+https://github.com/facebookresearch/segment-anything.git
ftfy
regex
tqdm
transformers
plotly
-e ./segment-anything
